.board {
  background-color: #0079bf;
  height: 100%;
  max-width: 100%;
}

.row {
  height: 100%;
}

.board-name {
  color: #f6f6f6
}

.list {
  display: inline-block;
  border: 1px solid black;
  background-color: #e2e4e6;
  max-width: 250px;
  min-height: 200px;
  max-height: 250px;
  border-radius: 1%;
  vertical-align: baseline;
  overflow: auto;
}

.list-container li {
  list-style-type: none;
  display: inline-block;
  overflow: auto;
}

.form-group {
  margin-top: 5%;
}

// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
